---
layout: default
---

<div class="container max-w-4xl mt-6 px-6">
  <div class="pb-5 mb-5 border-b border-sky-500">
    <h1 class="font-bold text-5xl text-center">{{title}}</h1>
    <p class="text-center text-base leading-6 font-medium text-sky-200">
      <time>{{ date | readableDate }} by {{ author }}</time>
    </p>
  </div>
  <article class="prose lg:prose-xl mt-4 mb-8 mx-auto">
    {{ content | safe }}
  </article>
  <h2 class="text-3xl text-center font-bold mb-8">Comments</h2>
  <div id="disqus_thread"></div>
  <noscript
    >Please enable JavaScript to view the
    <a href="https://disqus.com/?ref_noscript">comments powered by Disqus. </a>
  </noscript>
  <script>
    var disqus_config = function () {
      this.page.url = window.location.href
      this.page.identifier = document.title
    }

    ;(function () {
      // DON'T EDIT BELOW THIS LINE
      var d = document,
        s = d.createElement('script')
      s.src = 'https://mac-farr.disqus.com/embed.js'
      s.setAttribute('data-timestamp', +new Date())
      ;(d.head || d.body).appendChild(s)
    })()
  </script>
</div>
